@font-face {
  font-family: "lin"; /* Project id 3342059 */
  src: url('iconfont.woff2?t=1681528169405') format('woff2'),
       url('iconfont.woff?t=1681528169405') format('woff'),
       url('iconfont.ttf?t=1681528169405') format('truetype');
}

.lin {
  font-family: "lin" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chenggong:before {
  content: "\e62a";
}

.icon-cuowu:before {
  content: "\e657";
}

.icon-xiugai:before {
  content: "\e8cf";
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

.icon-tishi:before {
  content: "\e60e";
}

.icon-lishijilu:before {
  content: "\e604";
}

.icon-fuzhi1:before {
  content: "\e8b0";
}

.icon-prompt:before {
  content: "\e662";
}

.icon-fenxiang:before {
  content: "\e632";
}

.icon-creditcardxinyongka:before {
  content: "\e6dc";
}

.icon-sidebarcebianlan:before {
  content: "\e6e4";
}

.icon-zhankai3:before {
  content: "\e607";
}

.icon-xuanzeqishouqi:before {
  content: "\eb14";
}

.icon-fuzhi:before {
  content: "\e60d";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-jinggao:before {
  content: "\e650";
}

.icon-kaiguanclose:before {
  content: "\e66b";
}

.icon-news-info-full:before {
  content: "\e9b5";
}

.icon-set:before {
  content: "\e620";
}

.icon-zhankai1:before {
  content: "\e65b";
}

.icon-zhankai2:before {
  content: "\e659";
}

.icon-zhankai:before {
  content: "\e602";
}

.icon-dingdanmian:before {
  content: "\e64f";
}

.icon-caidan:before {
  content: "\e668";
}

.icon-shangpinguanli:before {
  content: "\e625";
}

